EXPO_PUBLIC_API_HOST=192.168.1.101
EXPO_PUBLIC_API_URL=http://192.168.1.101:5009
EXPO_PUBLIC_PHP_API_URL=http://192.168.1.101:8082/api
EXPO_PUBLIC_SPOTIFY_CLIENT_ID=9698e8c033344b62a344f887ebe92908
EXPO_PUBLIC_SPOTIFY_REDIRECT_URI=vibedrive://spotify-callback
EXPO_PUBLIC_TTS_VOICE_IDENTIFIER=com.apple.ttsbundle.siri_female_en-US_premium